always-auth=true
@flaregun-net:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/flaregun-net/:_authToken=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
