always-auth=true
@flaregun-net:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/flaregun-net/:_authToken=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
