always-auth=true
@flaregun-net:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/flaregun-net/:_authToken=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
