.wrapper {
  font-size: 14;
  font-weight: 600;
  margin-left: 1rem;

  >div {
    display: inline-block;

    &:first-child {
      padding-right: 4px;
    }

    &:last-child {
      padding-left: 4px;
    }
  }
}

.hostname {
  font-style: italic;
}

.pathname {
  color: orange
}

.arrow {
  position: relative;
  top: -2px;
}

.droparrow {
  position: relative;
  top: -2px;
  margin-right: 4px;
}
